.navbar-custom{
  background-color: #5a0c12;
  height: 235px;
}

.navbar-wrapper{
  height: 235px;
}

.logo {
  width: 125px;
}

.dropdown-menu{
  background-color: #5a0c12;
}

.bring-up{
  margin-top: -4%;
  margin-bottom: 2%;
  font-family: "Book Antiqua", cursive;
}

nav a{
  color: white !important;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.3em;
}

aside{
  margin-top: 5%;
  margin-bottom: 10%;
}

aside p {
  font-family: "Book Antiqua", cursive;
}

.main-text{
  font-family: "Book Antiqua";
  font-size: 1.25em;
}
.hero {
  position: relative;
  margin-top: -1%;
  margin-bottom: 2%;
  color: #5a0c12;
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.5em;
  padding: 5%;
}

.hero h1{
  font-size: 2.5em;
}

.hero:after{
  content: "";
  display: block;
  background: url('../images/cell_light.jpg') no-repeat center center scroll;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

footer{
  background: #5a0c12;
  color: white;
  font-size: 0.8em;
  padding: 1%;
}

span.tag{
  font-size: 0.7em;
  font-family: cursive;
}
