.navbar-custom{
  background-color: #5a0c12;
  height: 235px;
}

.navbar-wrapper{
  height: 235px;
}

img.side-image{
  width: 200px;
}

.logo {
  width: 175px;
}

.dropdown-menu{
  background-color: #5a0c12;
}

.bring-up{
  margin-top: -4%;
  margin-bottom: 2%;
  font-family: "Lato";
  font-style: italic;}

.bring-up img{
  width: 600px;
  margin-top: -4%;
}

p.bring-down{
  margin-top: 2%;
}

.main-column-img{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 75%;
}
.cursive{
  font-family: "Lato";
  font-style: italic;
}
.larger{
  font-size: 1.2em;
}

nav a{
  color: white !important;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.3em;
  background-color: #5a0c12;

}

aside{
  margin-top: 5%;
  margin-bottom: 10%;
}

aside p {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
}

.main-text{
  font-family: "Book Antiqua";
  font-size: 1.25em;
}
.hero {
  position: relative;
  margin-top: -0.5%;
  margin-bottom: 2%;
  color: #5a0c12;
  font-weight: 900;
  font-family: 'Fredericka the Great';
  font-size: 1.5em;
  padding-top: 2%;
  padding-bottom: 15%;
}

.ftg{
  font-family: 'Fredericka the Great';
  color: #5a0c12;
}

.hero h1{
  font-size: 2.5em;
  font-weight: 900;
}

.hero:after{
  content: "";
  display: block;
  background: url('../images/razor_fence2.jpg') no-repeat center center scroll;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

footer{
  background: #5a0c12;
  color: white;
  font-size: 1.0em;
  padding: 1%;
}

span.tag{
  font-size: 0.7em;
  font-family: cursive;
}
